/* Header (Logo) of website */
.page .brand {
    text-align: center;
    font-family: Lora, serif;
    font-size: 3rem;
    position: relative;
    /* The element is positioned according to the normal flow of the document. And it takes up orignal space, and surrounding elements treat the space it took as if it never moved. */
    bottom: -20px;
}

/******************************************************/

/*The parent div tag with the --> nav-tag, --> ul tag, --> li tag in it on line 21*/
.container {
    font-size: 1.5rem;
    /* This sets the font-size of the container to 22px. */
    font-family: Lora, serif;
    min-height: 80px;
    /*this is height of container from inside to 100 px. The container size from toop to bottom increases due to this */
    border: 3px solid black;
    /* The container will take the full width of the page, i.e, 100% of the width of the page. */
    width: 100%;
}

/******************************************************/



/* This deals with the div box that keeps the content inside the navigation bar.
It is positioned relative to the container.*/

.navbar {
    display: flex;
    /*This is used to make the content inside the navbar display as flex, i.e. in row; not in column */
    justify-content: center;
    /*Centers the content horizontally*/
    align-items: center;
    /*Centers the content vertically*/
    height: 100%;
    /*takes full height of parent from top to bottom*/
    width: 100%;
    /*takes full width of parent from left to right*/
    margin: auto;
    /*centers elements horizontally*/

}

/******************************************************/



/* Deals with positioning the content (links elements) inside the nav bar. It deals with their position.
It doesn't deal with their color and appearnce*/

.container .navbar .nav-links {
    position: relative;
    /* The container will be positioned relative to its parent. */
    display: flex;
    list-style-type: none;
    /*removes the bullets from the list items*/
    justify-content: space-between;
    gap: 130px;
    flex-wrap: wrap;
    /* Wraps items to a new line if they exceed the width */
}

/******************************************************/

/*Link's font colors and font features*/
.section-link {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

/******************************************************/
.section-link:hover {
    color: black;
    text-decoration: underline;
}

/****************************************************************************************************************/
/*Content for the Article section*/

.stories-container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    gap: 0px;
}

.story {
    border: 2px solid black;
    width: 550px;
    flex-direction: column;
}